<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="/images/wechat.png" />
    <title>Chat app</title>
  </head>

  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/chat.css" />

  <body>
    <div id="app" class="app">
      <!-- LEFT SECTION -->

      <section id="main-left" class="main-left">
        <!-- header -->
        <div id="header-left" class="header-left">
          <span class="glyphicon glyphicon-menu-hamburger hamburger-btn"></span>
          <span class="glyphicon glyphicon-search search-btn"></span>
          <span class="glyphicon glyphicon-option-vertical option-btn"></span>
        </div>

        <!-- chat list -->
        <div id="chat-list" class="chat-list"></div>

        <!-- self-profile -->
        <div id="self-info" class="self-info">
          <!-- photo -->
          <div class="profile your-photo">
            <img src="/images/ava4.jpg" alt="" />
          </div>
          <!-- name -->
          <h4 class="name your-name">Iqbal Taufiq</h4>
          <!-- setting btn -->
          <span class="glyphicon glyphicon-cog"></span>
        </div>
      </section>

      <!-- RIGHT SECTION -->

      <section id="main-right" class="main-right">
        <!-- header -->
        <div id="header-right" class="header-right">
          <!-- profile pict -->
          <div id="header-img" class="profile header-img">
            <img src="/images/ava2.jpg" alt="" />
          </div>

          <!-- name -->
          <h4 class="name friend-name">Mario Gomez</h4>

          <!-- some btn -->
          <div class="some-btn">
            <span class="glyphicon glyphicon-facetime-video"></span>
            <span class="glyphicon glyphicon-earphone"></span>
            <span class="glyphicon glyphicon-option-vertical option-btn"></span>
          </div>
        </div>

        <!-- chat area -->
        <div id="chat-area" class="chat-area">
          <!-- chat content -->

          <!-- FRIENDS CHAT TEMPLATE -->
          <div id="friends-chat" class="friends-chat"></div>
        </div>

        <!-- typing area -->
        <div id="typing-area" class="typing-area">
          <!-- input form -->
          <input
            id="type-area"
            class="type-area"
            placeholder="Type something..."
          />
          <!-- attachment btn -->
          <div class="attach-btn">
            <span class="glyphicon glyphicon-paperclip file-btn"></span>
            <span class="glyphicon glyphicon-camera"></span>
            <span class="glyphicon glyphicon-picture"></span>
          </div>
          <!-- send btn -->
          <button class="send-btn glyphicon glyphicon-send"></button>
        </div>
      </section>
    </div>

    <div id="creator" class="creator">
      <p>&copy; 2022 | Created by <span>Minh Hung</span></p>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <!-- jQuey, Popper, BootstrapJS -->
    <script src="/bootstrap/js/jquery-3.3.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/utils/index.js"></script>
    <script src="/js/chat.js"></script>
  </body>
</html>
